<ul>
  <div layout="row">
  <li *ngFor="let graph of lineChartData; index as i">
    <div flex="33">
      <canvas baseChart width="200" height="200"
                  [datasets]="lineChartData[i]"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
      </canvas>
      <datepicker-overview></datepicker-overview><datepicker-overview></datepicker-overview>
    </div>
  </li>
  </div>
</ul>
