<div class="grid-x grid-margin-x">
  <div class="medium-6 large-4 cell" *ngFor="let graph of lineChartData; index as i">
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <canvas baseChart width="200" height="200"
                  [datasets]="lineChartData[i]"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      <div class="cell">
        <datepicker-overview [graphID]=i (sendDateDeb)="dateUpdated($event)"></datepicker-overview>
      </div>
    </div>
  </div>
</div>
