<ul>
  <li *ngFor="let graph of lineChartData; index as i"><div class="row">
    <div class="col-sm-6">
      <div style="display: block;">
      <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData[i]"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
          
      </div>
    </div>
  </div></li>
</ul>
